/* || Estilos Gerais */

body {
  color: white;
  font-family: "Poppins", sans-serif;
  background-image: url("../img/background-blue.png");
  background-attachment: fixed;
  background-position: center;
  margin: 0;
}

h1 { 
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0;
}

h2 {
  margin: 0;
  margin-top: 10px;
}

hr {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ol,
ul {
  list-style: none;
}

.btn {
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
  padding: 5px 60px 5px 60px;
  background-color: #C39F00;
  border: solid 1px #C39F00;
  border-radius: 10px;
}

/* || Cabeçalho */

header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100vw;
  transition: background-color 0.3s;
  z-index: 9999;
}

header ul {
  display: flex;
  justify-content: space-between;
}

header li a {
  padding: 20px;
  font-weight: 5vw;
}

nav {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 10px 40px 10px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.sticky {
  background-color: #191946;
  position: fixed;
  top: 0;
}

.logo {
  height: 70px;
}

/* || Conteúdo da Página */

.container {
  display: block;
  width: 100%;
}

.hero {
  height: 100vh;
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

.hero-left {
  animation-name: fade-in;
  animation-fill-mode: forwards;
  animation-duration: 4s;
  animation-timing-function: ease;

  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 0 3rem 3rem;

}

.hero-left span {
  height: 60px;
}

.hero-left h1 {
  font-size: 3.2rem;
  margin: 0;
}

.hero-left p {
  color: #DBDBDB;
  margin-top: 10px;
  font-size: 1.8rem;
}

.logos-hero img {
  width: 15vw;
  max-width: 80px;
  padding-right: 15px;
}

.hero-right {
  display: flex;
  width: 50%;
  position: relative;
  overflow: visible;
  justify-content: flex-end;
}

@keyframes baloon-up {
  from {
    bottom: -600px;
  }

  to {
    bottom: 0;
  }
}

.hero-right img {
  animation-name: baloon-up;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-timing-function: ease;

  height: 90%;
  width: auto;
  margin: auto;
  position: absolute;
  bottom: -600px;
  z-index: -1;
}

.fundo-branco {
  color: black;
  background-color: #ececec;
  /* Versão do Figma (acho que deixou o site muito poluído)
  background-image: url("../img/background-white.png");
  background-position: center;
  */
}

.fundo-azul {
  color: white;
  background-color: transparent;
}

.full-width {
  width: 100%;
}

.section-row {
  width: 75%;
  margin: auto;
  display: flex;
  text-align: left;
  justify-content: center;
  padding: 30px;
  flex-wrap: wrap-reverse;
  align-items: center;
}

.section-row p {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 150%;
}

.section-column {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}

.subtitulo {
  margin-top: 0px;
  margin-bottom: 15px;
  color: #D2D2D2;
  font-size: 1.4em;
  font-weight: 500;
}

.cinza {
  color: #4C4C4C;
}

.sobre {
  width: 60%;
  padding-right: 30px;
}

.membros-imagem {
  width: 30%;
  height: fit-content;
}

.noticias-box {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: center;
}

.noticia-item {
  border-radius: 20px;
  margin: 20px;
  max-width: 360px;
  background-color: white;
  width: 100%;
}

.noticia-item img {
  width: 100%;
  height: 220px;
  border-radius: 19px 19px 0 0;
  overflow: hidden;
  object-fit: cover;
}

.noticia-item p {
  margin: 0;
  font-size: 1.2rem;
  padding: 10px 15px 15px 15px;
  color: #4C4C4C;
}

.premiacoes-box {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: center;
}

.premiacao-item {
  border-radius: 20px;
  padding: 20px 0px 20px 0px;
  margin: 20px;
  width: 100%;
  max-width: 360px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.premiacao-item img {
  width: auto;
  height: 120px;
}

.premiacao-item p {
  margin: 10px;
  font-size: 1.2rem;
  line-height: 140%;
  font-weight: 400;
  color: black;
}

.premiacao-item button {
  margin: 10px;
  font-weight: 400;
}

.medalhas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.medalhas span {
  margin: 0 18px 0 18px;
  display: flex;
  align-items: center;
}

.medalhas span p {
  padding: 0;
}

.redes-sociais {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.redes-sociais li {
  padding-right: 10px;
  padding-left: 10px;
}

/* || Modal */

.bloquear-scroll {
  height: 100%;
  overflow: hidden;
}

.modal-olimpiada {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 8px 20px 15px 20px;
  border: 1px solid #888;
  border-radius: 25px;
  width: 50%;
}

.nome-olimpiada {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: left;
  align-items: center;
}

.modal-topo {
  width: 100%;
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-base {
  width: 100%;
  padding: 10px 20px 0px 20px;
}

.modal-item ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
}

.modal-item li {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
}

.modal-item li p {
  text-align: center;
  margin: 5px;
  width: 12px;
}


.modal-content img {
  width: 60px;
  height: fit-content;
}

.modal-content h1,
h2 {
  color: black;
  font-size: 1.2rem;
}

.modal-content li {
  color: #4C4C4C;
}

.close-btn-div {
  height: 30px;
  width: 100%;
}

.close {
  color: #191946;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #C39F00;
  text-decoration: none;
  cursor: pointer;
}

/* || Rodapé */

footer {
  background-color: #282828;
}

footer a {
  color: #5ED8FF;
}

footer div {
  width: 75%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
}

/* || Responsividade em Tablets e Monitores Pequenos */

@media only screen and (max-width: 1440px) {
  /* || Cabeçalho */

  nav {
    width: 100%;
  }
  
  /* || Conteúdo */

  .hero {
    width: 100%;
  }

  .hero-right img {
    width: auto;
    height: 90vh;
  }
  
  .section-row {
    width: 100%;
    box-sizing: border-box;
  }

  .section-column {
    width: 100%;
    box-sizing: border-box;
  }
}

/* || Responsividade em Celulares */

@media only screen and (max-width: 1024px) {
  /* || Estilos Gerais */

  body {
    background-attachment: scroll;
  }

  h1 {
    font-size: 1.95rem;
  }

  /* || Cabeçalho */

  nav {
    padding: 0;
    padding-top: 10px;
    flex-direction: column;
    width: 100%;
  }

  nav ul{
    padding: 0;
  }

  /* || Conteúdo */

  .hero {
    margin: 0;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
  }

  .hero-left {
    padding: 15px;
    width: 100%;
    flex-wrap: nowrap;
  }

  .hero-left p {
    font-size: 1.6rem;
  }

  .hero-left h1 {
    font-size: 3rem;
  }

  .hero-left span {
    height: 120px;
  }

  .logos-hero {
    margin-top: 50px;
  }

  .hero-right {
    display: none;
  }

  .section-row {
    margin: 0;
    padding: 0;
    padding: 20px;
  }

  .section-column {
    margin: 0;
    padding: 20px;
  }
  
  .subtitulo {
    font-size: 1.1rem;
  }

  .membros-imagem {
    width: 100%;
    scroll-margin-top: -100px;
  }

  .sobre {
    width: 100%;
  }

  .noticias-box {
    flex-direction: column;
    align-items: center;
  }

  .premiacoes-box {
    flex-direction: column;
    align-items: center;
  }

  /* || Rodapé */

  footer div {
    justify-content: center;
    padding: 20px;
  }

  footer div p {
    margin: 5px;
  }

  /* || Modal */

  .modal-content {
    width: 80vw;
  }
}

/* || Responsividade em Tablets e Celulares no modo paisagem */

@media only screen and (orientation: landscape) and (max-width: 1024px) {
  /* || Cabeçalho */

  header {
    position: relative;
  }

  nav {
    padding: 2px 10px 0 10px;
    flex-direction: row;
    width: 100%;
  }

  .sticky + .container {
    padding-top: 80px;
  }

  /* || Conteúdo */

  .hero {
    height: fit-content;
    padding: 15px;
  }

  .hero-left {
    flex-direction: column;
  }

  .hero-left span {
    height: 0px;
  }
}